<div class="container">
    <div class="tracker">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Task
          </button>
    
     <div class="tasks">
      @for (task of tasks; track $index) {
          <div class="task">
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: 700;">Task:</h5><p style="width: 100%;height: auto;">{{task.title}}</p>
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: 700;">Description:</h5><p style="width: 100%; word-wrap: break-word;">{{task.description}}</p>
            <button class="btn" (click)="update(task)">Update</button>
            <button class="btn" (click)="deleteTask(task.id)">Delete</button>
          </div>}@empty {
            <h5 style="color: red; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">There are no tasks! Add yours.</h5>       }
     </div>
    </div>
  </div>
  


  <!-- add modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <label for="newTitle" style="width: 100px;">Title:</label>
            <input id="newTitle" #newTitle required><br>
            <label for="newDescription" style="width: 100px;">Description:</label>
            <input id="newDescription" #newDescription required><br> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn" type="button" (click)="addTask(newTitle.value, newDescription.value); newTitle.value=''; newDescription.value='';"s="btn btn-primary" data-bs-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>

